.root {
    -fx-background-color: #2ae7d7;
    -fx-font-family: "Courier New","Droid Sans Mono","Monaco";

    /*-fx-background-image: "";*/
}

.button {
    -fx-text-fill: black;
    -fx-background-color: gold;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.pause {
    -fx-background-image: url("/ooga/view/resources/images/pauseButton.png");
    -fx-background-color: transparent;
}

.settings {
    -fx-background-image: url("/ooga/view/resources/images/settingsButton.png");
    -fx-background-color: transparent;
    /*-fx-padding: 10,10,10,10;*/
}

.menu {
    -fx-spacing: 15;
}

.day {
    -fx-background-color: #2ae7d7;
}

.night {
    -fx-background-color: black;
}
