.button {
    -fx-text-fill: #000000;
    -fx-background-color: gold;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

.menubutton {
    -fx-background-color: gold;
}

.pause {
    -fx-background-image: url("/ooga/view/resources/images/pauseButton.png");
    -fx-background-color: transparent;

}

.settings {
    -fx-background-image: url("/ooga/view/resources/images/settingsButton.png");
    -fx-background-color: transparent;
}

.player {
    /*-fx-image: url("/ooga/view/resources/images/mario.png");*/
    -fx-background-color: transparent;
}

/*.button img.background {*/
/*    filter: grayscale(0%);*/
/*}*/

/*img.background {*/
/*    filter: grayscale(0%);*/
/*}*/